
@media (max-width:600px) {
    body {
        font-size: 8.5px;
    }
    .mobile {
        font-size: 8.5px; 
    }
     h2, h4 {
        font-size: 13px;
    }
    small {
        font-size: 8.5px;
    }
    img {
        height: 70px;
    }
    #wallpaper-div {
        height: 400px;
    }
    intro-wrap {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center align all content */
        text-align: center;  /* Center text */
    }
    
    .intro-wrap img {
        margin: 0 auto 10px; /* Center image with margin below */
    }
    
    .intro-wrap p {
        text-align: center;  /* Center text */
        margin: 0;           /* Remove default margin */
    }
    .intro-wrap p {
        margin: 0 0 0 10px; /* Adjust left margin to move text to the left */
        width: 90%; /* Ensure it doesn't go too far left and remains readable */
    }
    .skills-wrap {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center align all content */
        text-align: center;  /* Center text */
    }
    
    .skills-wrap img {
        margin: 0 auto 10px; /* Center image with margin below */
    }
    
    .skills-wrap .skills-list {
        text-align: left;  /* Left-align text */
        margin: 0 0 0 10px; /* Adjust left margin to move text to the left */
        width: 90%; /* Ensure it doesn't go too far left and remains readable */
    }

    .skills-list li {
        padding-left: 0px; /* Add padding to the list items for indentation */
        text-indent: -14px; /* Negative indent to offset the padding */
    }
    .contact-btn {
        font-size: 8px; /* Smaller font size */
        padding: 4px 10px; /* Smaller padding */
    }
}
